.top-nav {
    display: flex;
    justify-content: space-between;
}
.name-logo {
    font-size: var(--md-heading);
    color: var(--heading-color);
    font-weight: var(--bold);
    margin-top: 2.438rem;
}
.nav-links {
    display: flex;
    gap: 2rem;
    margin-top: 2.688rem;
    margin-right: 1.844rem;

}