.top-nav {
    display: flex;
    justify-content: space-between;
}
.name-logo {
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: -0.44px;
    color: var(--heading-color);
    font-weight: var(--bold);
    margin-top: 2.438rem;
    margin-bottom: 3.875rem;
}
.nav-links {
    display: flex;
    gap: 2rem;
    margin-top: 2.688rem;
    margin-right: 1.844rem;
}



/* ------------- Media Querries ------------------ */
/* @media (max-width: 768px) {
    .container {
        padding: 0;
    }
    .name-logo {
        margin-bottom: 1.563rem;
    }
    .nav-links {
        margin-right: 0;
    }
} */