/* ------------------------- Custom properties --------------- */
:root {
    /* ------------------------ colors ---------------------- */
   --bg-color: #151515;
   --accent-color: #4ee1a0;
   --text-color: #242424;
   --paragraph-color: #d9d9d9;
   --heading-color: #ffffff;
    /* --------------------- fonst-size ------------------- */
   --xl-heading: 5.5rem;
   --lrg-heading: 3rem 

}











/* ------------------------ CSS RESETS ------------------------- */
*, *::before, *::after{
    box-sizing: border-box; 
}
*{
    margin: 0; 
    padding: 0; 
}
ul[role='list'], ol[role='list']{
    list-style: none; 
}
html:focus-within{
    scroll-behavior: smooth; 
}
a:not([class]){
    text-decoration-skip-ink: auto; 
}
img, picture, svg, video, canvas{
  max-width: 100%;
  height: auto;
  display: block;
}
img, picture, svg, video, canvas{
  font-style: italic; 
}
img, picture, svg, video, canvas{
  background-repeat: no-repeat; 
  background-size: cover;
}
input, button, textarea, select{
  font: inherit; 
}
body {
    max-width: 1440px;
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Space Grotesk", sans-serif;
}
body, html{
    height: 100%; 
    scroll-behavior: smooth; 
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}
.container {
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, ol, li {
    list-style: none;
}
/* ------------------------ END RESETS ------------------------- */

